@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Dancing+Script&family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
body{
    min-height: 100vh; 
}
span{
    font-family: zeyada, sans-serif;
    font-weight: 600;
}
h1 {
    text-align: center;
    color: rgb(13, 215, 148);
    font-size: 80px;
}
/*-----------------Logo and NavBar ------------------*/
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content:space-between ;
    background-color: black;
}
.logo {
    padding-top: 15px;
    padding-left: 15px;
    color: gold;
}
.logo a {
    display: flex;
    font-family: Zeyada, sans-serif;
    font-size: 75px;
    font-weight: 600;
    text-decoration: none;
    list-style: none;
}
.navbar{
    list-style: none;
    font-size: 30px;
}
.navbar a{
    text-decoration: none;
    margin: 0px 30px;
    color: goldenrod;
}
.navbar a:hover{
    color: blueviolet;
}
.user{
    display: flex;
    align-items: center;
    color: goldenrod;
}
.user a{
    margin-right: 25px;
    margin-left: 10px;
    font-size: 25px;
    list-style: none;
    text-decoration: none;
}
.user a:hover{
    color: blueviolet;
}
/*----------------Hero Content-------------*/
.about-me{
    padding-top: 120px;
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.hero-img{
    height: 600px;
    width: 100%;
    background: url('../images/hero-img.jpg') no-repeat center center;
    background-size:cover;  
    
}
.text {
    float: right;
    font-size: 130%;
    letter-spacing: 4px;
    width: 500px;
    height: 400px;
    bottom: 30px;
    right: 150px;
    position: absolute;
}
.text p{
    color: snow;
}
.text h1:hover{
    color: pink;
}
.text p:hover{
    color: blanchedalmond;
}
/*----------------Latest Article-------------*/
.l-article h2{
    text-align: center;
    font-size: 120px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-shadow:2px -5px 4px;
}
.l-article h2:hover{
    color: pink;
}
.l-article-img img{
    padding-left: 20px;
    width:45%;
    text-align:right;
    float: left;
}
.l-article-text{
    width: 53%;
    text-align: left;
    float: right;
    padding-right: 20px;
}
.l-article-text button{
    padding-left: 3px;
    border: none;
    background: none;
}
.l-article-text button:hover{
    background-color: pink;
}




/*----------------Popluar-Recipes-Home-------------*/
.p-recipes{background-color: transparent;
float: left;
padding: 20px;
width: 25%;
height: 300px;
perspective: 1000px;
}

.p-container{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
/*-----------------Contact Us Page------------------*/
#contact{
    padding:40px 15%;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    align-items: center;
    grid-gap:20px
}
.contact-form h1 {
    font-size: 85px;
    font-family: zeyada, sans-serif;
}

.contact-form form{ 
    position: relative;

}
.contact-form form input, form textarea{ 
    width: 100%;
    padding: 20px;
    border: 2px solid rgb(248, 79, 172);
    outline: none;
    font-size: 25px;
    margin-bottom: 8px;
    border-radius: 15px;
}
.label{
    font-size: 40px;
} 
.contact-img img {
    max-width: 100%;
    width: 720px;
    height: auto;
    border-radius: 15px;
}

/*-----------------Blog Page------------------*/
.l-article hr{
    width: 50%;
    margin: 0 auto;
   
}
.blog-heading{
    padding-top: 20px;
    background: url(../images/cheesecake3.jpg) no-repeat center;
    background-size: cover;
    width: auto;
    height: 600px;
}
.blog-heading h1{
    padding-top: 75px;
    text-align: center;
    font-size: 100px;
}
.blog-heading p{
    text-align: center;
    padding-top: 20px;
    font-size: 22px;
}

.cheesecake-image{
    align-items: center;
    display:flex;
    padding: 50px;
    gap: 30px;
}
.cheesecake-images3{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 20px;
}
.article-text {
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
}
.article-heading{
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 23px;
}

.l-a-recipe{
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
}
.recipe-article h3{
    text-align: center;
    font-size: 30px;
    color: rgb(170, 62, 152);
}
.recipe-article h4{
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
    color: rgb(66, 131, 229);
}
.recipe-article ol{
    padding-left: 30px;
}
.recipe-article ul{
    padding-left: 30px;
}

/*-----------------Recipe Page------------------*/
.recipes-pg{
    background-color: rgb(146, 151, 196);
}
.flip-card {
    background-color: transparent;
    float: left;
    padding: 20px;
    width: 25%;
    height: 300px;
    perspective: 1000px;
  
}
  
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
  
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
  
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
  
.flip-card-front {
    background-color: #bbb;
    color: black;
}
 .flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
  }



/*-----------------Login  Page------------------*/
.login-pg{
    background: url(../images/login-pg-bg.jpg) no-repeat center;
    background-size: 100% 100%;
}

.login-form{
    width:350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    color: rgb(170, 62, 152);
}
.login-form h2{
    font-size:80px;
    text-align: center;
    margin: 40px 0;
}
.login-form p{
    font-size: 20px;
    margin: 15px 0;
}

.login-form input{
    font-size: 16px;
    width: 100%;
    padding: 15px 10px;
    border: 0;
    outline: none;
    border-radius: 5px;
}
.login-form button{
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0;
    padding: 10px 15px;
    width: 50%;
    border-radius: 8px;
    border: 0;
    color: rgb(147, 104, 183);
}
.login-form p a{
    text-decoration: none;
}
/*-----------------Sign Up Page------------------*/
.sign-pg {
    background: url(../images/sign-pg-bg.jpg) no-repeat center;
    background-size: 100% 100%;
}
.sign{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.sign-container{
    width: 100%;
    max-width: 650px;
    background: rgba(21, 209, 178, 0.5);
    padding: 28px;
    margin: 0 28px;
    border-radius: 10px;
    
}
.sign-container h1 {
    font-size: 70px;
    color:rgb(7, 94, 155);
    text-align: center;
    text-shadow: 2px 2px 2px rgb(236, 238, 240);
    padding-bottom: 8px;
    border-bottom: 2px solid purple;
}
.user-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}
.user-input-box{
    display: flex;
    flex-wrap:wrap;
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.user-input-box lable{
    width: 95%;
    color:rgb(92, 64, 170);
    font-size: 30px;
    margin: 5px 0;
   
}
.user-input-box input{
    height: 40px;
    width: 95%;
    
    padding: 0;
}
.form-submit{
    margin-top: 40px;
}
.form-submit input{
    display: block;
    width: 100%;
    margin-top: 10px;
    font-size: 20px;
    padding: 10px;
    border-radius: 3px;
    color: blueviolet;
}


/*------------------Gallary Page------------------*/
.g-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 20px 0 20px;
}
.g-container .g-heading {
    width: 50%;
    padding-bottom: 40px;
}
.g-heading h2{
    font-size: 50px;
    font-weight: bold;
    border-bottom: 3px solid rgba(117, 221, 221, 1); 
}
.g-container .g-box {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
   
}
.g-container .g-box .g-col{
    display: flex;
    flex-direction: column;
    width: 32.5%;
}
.g-container .g-box .g-col img{
    width: 100%;
    padding-bottom: 15px;
    border-radius: 10px;
}
.heart{
    border: none;
    background: transparent;
    font-size: large ;
    opacity: 0;
}
.heart:hover{
    opacity: 1;
}

@media only screen and (max-width: 769px){
    .g-container .g-box {
        flex-direction: column;
    }
    .g-container .g-box .g-col{
        width: 100%;
    }
 }
 @media only screen and (max-width: 643px){
    .g-container .g-heading {
        width: 100%;

    }
    .g-heading h2{
        font-size: 25px;
  
    }
  
 }










/*------------------Footer------------------*/
.footer{
    position: relative;
    margin-top: -180px;
    height: 180px;
    clear: both;
    background-color:pink;
}
.footer h3{
    text-align: center;
    color: darkolivegreen;
}
.social{
    text-align: center;
    padding-bottom: 25px;
}
.social a{
    color: darkcyan;
    font-size: 25px;
    margin: 0 25px ;
}
.social ul li {
    display: inline-block;
    text-align: center;
}
.short-links ul{
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
    font-size: 25px;
    line-height: 2px;
    text-align: center;
}
.short-links a {
    color: rgb(14, 207, 78);
    text-decoration: none;
}
.short-links ul li {
    display: inline-block;
    padding: 0 15px;
}
.footer p {
    margin-top: 15px;
    text-align: center;
    font-size: 25px;
    color: aquamarine;
}